/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.hero {
  background-image: linear-gradient(to bottom, #333, #444);
  background-size: 100% 300px;
  background-position: 0% 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px;
  width: 300px;
}

img {
  padding-top: 10px;
  width: 300px;
  justify-content: center;
}

article h3 {
  margin-top: 0;
}

.read-more {
  text-decoration: none;
  color: #337ab7;
}

.read-more:hover {
  color: #23527c;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

time{
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}

a{
  font-size: 16px;
  text-decoration: none;
}

.notify-alert-box{
  width: 350px;
  position: fixed;
  left: 50%;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -200px;
  top: -100%;
  z-index: 100000;
  background: #fff;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.notify-alert-box img{
  width: 70px;
  float: left;
  margin-right: 15px;
  padding-left: 10px;
  padding-top: 20px;
}

.notify-alert-box .buttons{
  text-align: right;
  padding-bottom: 5px;
  padding-right: 5px;
}

.notify-alert-box .buttons button{
  background: #024e73;
  color: #fff;
  border: 0;
  padding: 8px 15px;
  font-size: 15px;
}